.bottom{
    position: fixed;
    background: url("../images/Bottom_background.jpg");
    background-size: cover;
    background-position:center top;
    background-attachment: scroll;
    height:10%;
    width:100%;
    bottom:0;
}
.bottom1{
    padding-top:5%;
    margin-left:10%;
}
.bottom2{
    margin-top:-36px;
    margin-left:35%;
}
.bottom3{
    margin-top:-36px;
    margin-left:60%;
}
.bottom4{
    margin-top:-36px;
    margin-left: 85%;;
}