.middle_background{

    background: url("../images/background-2.jpg");
    background-repeat:no-repeat;
    background-position:center top;
    background-attachment: scroll
background-size:cover;
    height:70%;
    width:100%;
}