.mybag{
    background: url("../images/mybag-1.jpg");
    background-repeat:no-repeat;
    background-position:center top;
    background-attachment: scroll
background-size:cover;
    height:10%;
    width:100%;

}
.quanbu_text{
    font-size: 15px;
    font-family: Î¢ÈíÑÅºÚ;
    font-weight: 800;
    color: darkgrey;
    padding-top: 5%;
    padding-left: 14%;
}
.laihuo_text{
    font-size: 15px;
    font-family: Î¢ÈíÑÅºÚ;
    font-weight: 800;
    color: darkgrey;
    margin-top: -7.7%;
    margin-left: 65%;
}