.back2{
    background:  url("shukuang.png") no-repeat;
    background-position: 25px 15px;
    background-size: 94% 100%;
    position: relative;
}
#position4{
    position: relative;

    z-index: 1;
    display:block;
}

#position5{
    position: relative;

    z-index: 2;
    display:block;
}
.d-title span{
    position:absolute;

    font-size: 2em;
    font-family: ��΢���źڡ�;
    font-weight: bold;
    text-align: center��
}
.d-price{
    position:absolute;

    color: orangered;
    font-size: 1.5em;
    font-family: ��΢���źڡ�;
    font-weight: bold;
}
.kucun{
    position:absolute;

    font-size: 1.3em;
    font-family: ��΢���źڡ�;
    font-weight: bold;
}