.bottom{
    top:20px;
    width: 100%;
    position: relative;
}
#bottom1{
    left: 10%;
    position: relative;
}
#bottom2{
    left: 10%;
    position: relative;
}
#bottom3{
    left: 10%;
    position: relative;
}
#bottom4{
    left: 10%;
    position: relative;
}