*{ margin: 0px;
    padding: 0px;}
body{
background-color: #ffffff;
}
.heading{
    background-color: #86dfd6;
    height:6em;
    z-index: -999;
}
.search{

    color: #edeeeb;
    position: relative;


    z-index: 5;
}
#position1{
    position: relative;
    z-index: 2;


    display:block;

}