*{ margin: 0px;
    padding: 0px;}
body{
background-color: #ffffff;
}
.heading{
    background-color: #86dfd6;
    height:3.5em;
    z-index: -999;
}
.search{

    color: #edeeeb;
    position: relative;
}
