*{ margin: 0px;
    padding: 0px;}
body{
background-color: #ffffff;
}
.heading{
    background-color: #86dfd6;
    width: 100%;
    height: 11.7%;
    z-index: 1;
    position: relative;
}
.search{
    width: 61.4%;
    height: 6%;
    color: #edeeeb;
    position: relative;
    top: 15px;
    left: 30%;
    z-index: 5;
}
#position1{
    position: relative;
    z-index: 2;
    left:76%;
    bottom: 10px;
    display:block;
    z-index: 2;
}