body{
    background-image: url("login_register.jpg");
    background-repeat:no-repeat;
    background-position:center top;
    margin:0 auto;
    height:1334px;
    width:1334px;
    font-size:30px;
    color:#086456;
}

.register_click {
    margin:auto;
    margin-top:65px;
    margin-left: 282px;
    width: 689px;
    height: 88px;
    background-color: #bbece8;
}
.sn_icon {
    margin-top: 690px;
    margin-left: 282px;;
}
.line1{
    margin-top:20px;
    margin-left:282px;
}
.pw_icon{
    margin-top:34px;
    margin-left: 282px;
}
.line2{
    margin-top:20px;
    margin-left:282px;
}
.registernow_text{
    margin-top:44px;
    margin-left:282px;
}
.forgetpw_text{
    margin-top:-64px;
    margin-left:829px;
}