.rg_icon{
    padding-top:15%;
    margin-left: 8%;
}
.pw_textbox{
    font-size: 8px;
}
.pw_icon{
    margin-top:8%;
    margin-left:8%;
}
.pw_textbox{
    font-size: 8px;
}
.rg_click{
    padding-top: 8%;
    text-align: center;
}
.rg_text{
    font-size: 12px;
    padding-top: 5%;
    margin-left: 6%;
    color: #25786c;
}
.fpw_text{
    font-size:12px;
    margin-top: -12px;
    margin-left: 73%;
    color:#25786c;
    padding-bottom: 50%;
}